.section {
    display: flex;
    flex-direction: row;
    gap: 10px;
    color: blue;
    padding: 30px;
    width: 600px;
    justify-content: space-evenly;
}

nav>ul>li {
    list-style-type: none;
    display: inline;

}

nav>ul>li>a {
    text-decoration: none;
    color: white;
    background-color: green;
    padding: 10px;
}

nav>ul>li>a:hover {
    background-color: yellow;
    color: darkgreen;

}

.section1 {
    color: white;
    padding: 30px;
    width: 600px;
}

.main {
    background-color: blueviolet;
    padding: auto;
    align-items: center;
}

.imagesection {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.moving-text {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    color: yellow;
}